.button
	display: inline-block
	padding: 10px
	cursor: pointer
	text-align: center
	border-radius: 5px
	border: none
	font-size: 14px
	transition: all 0.3s ease

.primary
	background: var(--primary-100)
	color: var(--text-100)

	&:hover
		background: var(--primary-200)

.ghost
	color: var(--primary-100)

	&:hover
		color: var(--text-100)
		background: var(--primary-200)
