.photosinput
	display: flex
	flex-direction: column
	// gap: 10px
	// padding: 10px
	// border-radius: 4px
	border: 1px dashed var(--contrast-300)
		

	&_body
		display: flex
		flex-direction: column
		gap: 5px
		overflow-y: auto
		width: 100%
		padding: 10px
	label
		margin: 10px 10px 0 10px
		// color: var(--contrast-300)
		// font: var(--font-200)
	p
		margin: 10px 10px 0 10px
		cursor: pointer
	input
		display: none
	&_item
		display: flex
		// justify-content: space-between
		align-items: center
		gap: 10px
		width: 100%
		border-left: 5px solid var(--contrast-400)
		padding: 0 10px
		&:hover
			background: var(--contrast-100)
		img
			width: 40px
			height: 40px
			border: 1px dashed var(--contrast-300)
		span
			font: var(--font-300)
			&:nth-child(2n)
				width: 100%
				color: var(--contrast-400)
			&:last-child
				cursor: pointer
				color: var(--ui-error)
	&_btn
		font: var(--font-200)
		cursor: pointer
		width: 100%
		background: var(--contrast-500)
		padding: 10px
		border-radius: 2px
		text-align: right
		color: var(--contrast-200)
		&:hover
			background: var(--contrast-400)
			

